footer {

    & .footer {
        display       : flex;
        flex-direction: column;
        width         : 100%;
        height        : 100%;
        place-content : center center;
        place-items   : center center;
        place-self    : center center;
        gap           : var(--block-gap);
        padding       : 1rem;
        background    : var(--color-block_back);

        & button {
            padding: 0.5rem;
        }

        & p {
            color: var(--color-text);
        }

        & ul {
            display: flex;
            gap    : var(--block-gap);
        }
    }
}