.title_card_small {
  display      : flex;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  flex-flow    : column nowrap;
  position     : relative;
  width        : 16rem;
  max-width    : 16rem;
  height       : auto;
  cursor       : pointer;
  z-index      : 2;
  background   : var(--color-button-hover);
}

.title_card_small a {
  width     : 16rem;
  height    : 24rem;
  max-width : 16rem;
  max-height: 24rem;
}

.card_small_poster {
  object-fit: cover;
  border    : none;
}

.title_card_small:is(:active, :focus) {
  color: var(--color-purple) !important;
}

.card_small_info {
  position       : absolute;
  top            : 0;
  left           : 0;
  right          : 0;
  display        : flex;
  flex-direction : column;
  width          : 16rem;
  max-width      : 16rem;
  height         : 24rem;
  place-content  : start center;
  place-items    : center center;
  place-self     : center center;
  padding        : var(--block-gap);
  opacity        : 0;
  background     : linear-gradient(to bottom right, var(--color-black), rgba(0, 0, 0, 0.8), var(--color-black));
  backdrop-filter: blur(6px);
  transition     : opacity 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out;
}

.card_small_info:hover {
  opacity: 1;
}

.card_small_info:hover * {
  opacity: 1;
}

.card_small_info h5,
.card_small_info h6,
.card_small_info p {
  font-size    : 0.9rem;
  text-align   : center;
  text-overflow: ellipsis;
  word-spacing : 0.2rem;
  color        : var(--color-text);
  opacity      : 0;
  transition   : opacity 0.3s ease-in-out;
}

.card_small_info h5 {
  color         : var(--color-white);
  font-size     : 1.1rem;
  padding-top   : 3rem;
  padding-bottom: 0.2rem;
}

.card_small_info h6 {
  font-weight   : bold;
  padding-bottom: 0.5rem;
}

.card_small_info p:last-child {
  place-content  : end end;
  place-items    : center center;
  place-self     : center center;
  width          : 90%;
  height         : 7rem;
  color          : var(--color-white);
  margin-top     : auto;
  padding-bottom : 1rem;
  text-indent    : 1rem;
  text-overflow  : ellipsis;
  text-wrap      : pretty;
  text-align     : justify;
  -webkit-hyphens: auto;
  -ms-hyphens    : auto;
  hyphens        : auto;
  overflow       : hidden;
}