.avatarContainer {
  background     : none !important;
  backdrop-filter: none !important;
  box-shadow     : none !important;

  & .avatarButton {
    display       : flex;
    flex-direction: column;
    place-content : center center;
    place-items   : center center;
    place-self    : center center;
    padding       : 0;
    border-radius : 0;
    white-space   : nowrap;
    overflow      : hidden;
    width         : auto;
    height        : auto;

    .avatarGradient {
      display         : flex;
      width           : 4rem;
      height          : 4rem;
      place-content   : center center;
      place-items     : center center;
      place-self      : center center;
      border          : 3px solid transparent;
      background-image: linear-gradient(270deg, rgb(0, 0, 0) -7%, var(--color-purple) 15%, var(--color-orangered) 50%, var(--color-purple) 85%, rgb(0, 0, 0) 107%);
      border-radius   : 5rem;

      & img {
        width        : 3.5rem;
        height       : 3.5rem;
        object-fit   : cover;
        border-radius: 5rem;
        z-index      : 9999;
      }

      & svg {
        width : 3.5rem;
        height: 3.5rem;
        color : var(--color-white);
      }
    }

    & h6 {
      padding      : 0.3rem 0;
      text-align   : center;
      font-size    : 0.9rem;
      color        : var(--color-white);
      text-overflow: ellipsis;
      white-space  : nowrap;
      overflow     : hidden;
    }
  }

  &:is(:focus, :hover, :active) {
    & .avatarName {
      scale: 1;
    }
  }
}

.avatarMenu {
  display         : flex;
  flex-direction  : column;
  width           : auto;
  height          : auto;
  position        : absolute;
  background-color: var(--color-block_back);
  backdrop-filter : var(--blur);
  box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index         : 99999;
  top             : 11.5rem;
  left            : 4rem;
  overflow        : hidden;
}

.avatarMenu button {
  place-content : start start;
  place-self    : start start;
  border-radius : 0;
  flex-direction: row;
  width         : 100%;
  height        : 3rem;
  padding       : 0 2rem;
}

.avatarMenu .button {
  place-content : start start;
  place-self    : start start;
  border-radius : 0;
  flex-direction: row;
  width         : 100%;
  height        : 3rem;
  padding       : 0 2rem;
}

.avatarMenu:first-child {
  border-radius : 5rem 0;
  flex-direction: row;
  width         : 100%;
  height        : auto;
}

@media (max-width: 600px) {
  .avatarContainer {
    padding: 0.5rem;
  }

  .avatarContainer .avatarName {
    display: none;
  }

  .avatarMenu {
    top : -4rem;
    left: 3rem;
  }

}