.searchContainer {
  width        : 100%;
  height       : auto;
  border       : none;
  border-radius: 0;
}

.searchModal {
  position        : absolute;
  top             : 0;
  right           : 222rem;
  left            : 0;
  width           : 100%;
  height          : 100%;
  padding         : 1rem;
  place-content   : center;
  place-items     : center;
  border          : none;
  border-radius   : 0;
  background-color: var(--color-button-hover);
  z-index         : var(--modal_z-index);

}

.buttonISearch {
  place-content: center start;
  place-self   : center center;
  place-items  : center center;
  width        : 100%;
  height       : 100%;
  border       : none;
  border-radius: 0;
  position     : relative;
  z-index      : 9999;
}