header {
  display      : flex;
  flex         : 0 0 auto;
  width        : 17rem;
  height       : auto;
  border-radius: 0;
  z-index      : var(--sidebar_z-index);
}

.sidebar {
  position       : sticky;
  top            : 0;
  display        : flex;
  flex-direction : column;
  place-content  : center start;
  place-self     : start center;
  width          : 100%;
  height         : 100dvh;
  border-radius  : 0;
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
}

.sidebar_hide {
  width: 6rem;
}

.sidebar_hide #logo1 {
  display: none;
}

.sidebar_hide #logo2 {
  display: block;
}

.sidebar_hide nav ul li button {
  place-content: center center;
  place-self   : center center;
  place-items  : center center;
}

.sidebar_hide nav button h6 {
  font-size: 0;
  display  : none;
}

.sidebar_hide .togglers {
  flex-direction: column;
}

.sidebar_hide .userBlock {
  flex-flow: column nowrap;

  place-content: center center;
  place-self   : center center;
  place-items  : center center;
}

.sidebar_hide .userButtons {
  flex-flow: row nowrap;
  width    : 100%;
}

.sidebar_hide .searchContainer input {
  width: 0rem;

}

.sidebar_hide .search button:last-child {
  display: none;
  width  : 0rem;
}

.sidebar_hide .search button {
  width        : 100%;
  border-radius: 2.5rem;
}

.sidebar_hide .searchContainer:is(:hover, :focus, :active) {
  width: 15rem;

}

.sidebar_hide .searchContainer:is(:hover, :focus, :active) input {
  width: auto;

}

.sidebar_hide .searchContainer:is(:hover, :focus, :active) .search button {
  width        : auto;
  border-radius: 2.5rem 0px 0px 2.5rem;
}

.sidebar_hide .searchContainer:is(:hover, :focus, :active) .search button:last-child {
  display      : block;
  width        : auto;
  border-radius: 0 2.5rem 2.5rem 0;
}



@media (max-width: 1100px) {
  .pagination {
    bottom    : 5rem !important;
    flex-flow : column nowrap !important;
    place-self: end end !important;
  }


  header,
  .sidebar_hide {
    position  : sticky;
    bottom    : 0 !important;
    right     : 0 !important;
    left      : 0 !important;
    order     : 5;
    width     : 100%;
    height    : auto !important;
    overflow-y: scroll;
  }

  .sidebar {
    display      : flex;
    flex-flow    : row wrap;
    width        : 100%;
    height       : auto;
    place-content: center center;
    place-self   : center center;
    place-items  : center center;
    padding      : 0;
  }

  .sidebar hr {
    display: none;
  }

  .searchContainer {
    width  : 100%;
    padding: 0.5rem;
    height : auto;
  }

  .userBlock {
    position     : relative;
    width        : auto;
    flex-flow    : row-reverse nowrap;
    order        : -1;
    height       : 100%;
    margin-top   : 0;
    border-radius: var(--border-radius);
  }

  .userBlock h6 {
    display: none !important;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar .togglers {
    display       : flex;
    order         : 9;
    width         : max-content;
    height        : 100%;
    flex-direction: column;
    padding       : 0.2rem;
  }

  .sidebar .togglers button:nth-child(2) {
    display: none;
  }

  .sidebar nav {
    flex-flow    : column wrap;
    width        : max-content;
    height       : auto;
    padding      : 0.1rem;
    place-content: center center;
    place-self   : center center;
    place-items  : center center;
  }

  .sidebar nav ul {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    gap           : 0;
    place-content : center center;
    place-self    : center center;
    place-items   : center center;
  }

  .sidebar nav ul li button {
    padding      : 0;
    border-radius: var(--border-radius);
  }

  .sidebar nav ul li button h6 {
    display: none !important;
    width  : 100%;
    height : 100% !important;
  }

  nav ul li button.active {
    border-inline-end: none;
  }
}