.userCard {
  display        : flex;
  flex-direction : row;
  width          : 100%;
  height         : max-content;
  min-height     : 3rem;
  margin-top     : auto;
  padding        : 0.5rem;
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
}