.userCard {
  display       : flex;
  flex-direction: column;
  place-content : center center;
  place-self    : center center;
  width         : 100%;
  padding       : 0.5rem 0.5rem 0 0.5rem;
  min-height    : 3rem;
}