.userCard {
  display       : flex;
  flex-direction: column;
  place-content : center center;
  place-self    : center center;
  place-items   : center center;
  width         : 100%;
  height        : max-content;
  min-height    : 3rem;
  margin-top    : auto;
  padding       : 1rem 1rem 1rem 1rem;
  overflow      : hidden;
}