.head {
  display       : flex;
  flex-flow     : column nowrap;
  width         : 100%;
  height        : calc(100dvh - 4rem);
  gap           : 1rem;
  pointer-events: none !important;
  position      : relative;
  border-radius : var(--border-radius);
  overflow      : hidden;
}

.head::after {
  content       : "";
  position      : absolute;
  pointer-events: none !important;
  top           : 0;
  left          : 0;
  width         : 100%;
  height        : 100%;
  background    : radial-gradient(circle farthest-side at 90% 0%,
      transparent 45%,
      rgba(0, 0, 0, 0.65) 65%,
      rgba(0, 0, 0, 0.70) 70%,
      rgba(0, 0, 0, 0.75) 75%,
      rgba(0, 0, 0, 0.80) 80%,
      rgba(0, 0, 0, 0.85) 85%,
      rgba(0, 0, 0, 0.90) 90%,
      rgba(0, 0, 0, 0.95) 95%,
      rgba(0, 0, 0, 1) 100%);
  z-index: -1;
}

.title_back {
  height        : 100%;
  width         : 100%;
  object-fit    : cover;
  z-index       : -1;
  pointer-events: auto !important;
  border        : none !important;
}

.head_Info {
  display       : flex;
  flex-flow     : column nowrap;
  width         : 38%;
  height        : 100%;
  position      : absolute;
  top           : 0;
  left          : 0;
  place-content : center end;
  place-items   : start start;
  place-self    : start start;
  padding       : 1rem;
  text-align    : center;
  pointer-events: auto !important;
  z-index       : 24221;
}

.head_Info p:last-child {
  width          : 75%;
  font-size      : 1rem;
  text-indent    : 1rem;
  text-overflow  : ellipsis;
  text-align     : left;
  text-wrap      : pretty;
  color          : white;
  padding-left   : 1.5rem;
  -webkit-hyphens: auto;
  -ms-hyphens    : auto;
  hyphens        : auto;
}

.head_Info span:first-child {
  width        : 100%;
  display      : flex;
  flex-flow    : row nowrap;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
}

.title_logo {
  height       : auto !important;
  object-fit   : cover;
  max-width    : 100%;
  border-radius: 0 !important;
}

.title_poster {
  width        : auto;
  height       : 25rem;
  object-fit   : cover;
  border       : none;
  border-radius: 0 !important;
}

.head_Info h1 {
  display      : flex;
  flex-flow    : row nowrap;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  padding-top  : 1rem;
  font-style   : normal;
  font-weight  : 900;
  line-height  : 28px;
  font-size    : 1.2rem;
  text-overflow: ellipsis;
  color        : var(--color-white);
}

.head_Info h2 {
  place-self    : center center;
  font-size     : 1rem;
  padding-bottom: 1rem;
  color         : var(--color-text);
}

.head_Info p {
  place-self    : center center;
  font-size     : 1rem;
  text-overflow : ellipsis;
  padding-bottom: 0.3rem;
  color         : var(--color-text);
}

.age {
  gap          : 0.3rem;
  font-size    : 1rem;
  padding      : 0.3rem;
  place-content: end end;
  place-items  : end end;
  place-self   : end end;
}

.age h6 {
  display      : flex;
  flex-flow    : row nowrap;
  min-width    : auto;
  gap          : 0.3rem;
  font-size    : 1rem;
  border-radius: 0;
}

.age h6 span {
  min-width       : auto;
  padding         : 0.3rem;
  font-size       : 1rem;
  text-align      : center;
  text-transform  : uppercase;
  color           : white;
  background-color: black;
  border-radius   : 0;
  border          : 0.12rem solid white;
}

.userWidgets {
  padding-top   : 1rem;
  padding-bottom: 1rem;
}

.watchability {
  display      : flex;
  flex-flow    : column nowrap;
  width        : 100%;
  height       : 15%;
  border-radius: 0;
  padding-top  : 1rem;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  overflow     : visible;
}

.watchability .swiper-slide {
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  width        : 3.5rem;
  height       : 3.5rem;
  border-radius: 50%;
}

.watchability h3 {
  text-align   : center;
  font-weight  : bold;
  font-size    : 1.2rem;
  border-radius: 0;
}

@media (max-width: 800px) {
  .head::after {
    background: gradient(top to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.5) 69%,
        rgba(0, 0, 0, 0.6) 79%,
        rgba(0, 0, 0, 0.8) 89%,
        rgba(0, 0, 0, 0.9) 99%,
        rgba(0, 0, 0, 1) 109%);
  }

  .title_back {
    object-position: 70%;
  }

  .head_Info {
    overflow     : hidden;
    place-content: end end;
    width        : 100%;
  }
}