.titles {
  place-content        : center center;
  place-items          : center center;
  place-self           : center center;
  display              : grid;
  grid-gap             : var(--block-gap);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width                : 100%;
  min-height           : 100vh;
}