.personal {
  z-index       : 9999999;
  pointer-events: auto;
}

.personal img {
  object-fit   : cover;
  border-radius: 50%;
  width        : auto;
  height       : 24px;
  scale        : none;
}

.gray-Star {
  display      : flex;
  flex-flow    : row nowrap;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  width        : 30px;
  height       : 30px;
  font-size    : 1rem !important;
  text-align   : center;
  font-weight  : height;
  color        : var(--color-text);
}

.personal-container {
  display         : flex;
  flex-flow       : row nowrap;
  place-content   : center center;
  place-items     : center center;
  place-self      : center center;
  width           : 15.5rem;
  min-width       : 15.5rem;
  max-width       : 15.5rem;
  height          : 30px;
  position        : absolute;
  z-index         : 9999999;
  right           : 0;
  background-color: black;
  padding         : 0 0.1rem 0 0;
}

.star-container svg {
  width        : auto;
  height       : 30px;
  border-radius: 0;
}

.main-Star {
  display      : flex;
  flex-flow    : row nowrap;
  place-content: center start !important;
  place-items  : center center !important;
  place-self   : center center !important;
  width        : 55px;
  min-width    : 55px;
  max-width    : 55px;
  height       : 30px;
  border-radius: var(--border-radius);
  padding      : 0.2rem;
  gap          : 0.2rem;
  font-size    : 1rem !important;
  text-align   : center;
  font-weight  : height;
  z-index      : 9999999;
}

.main-Star svg {
  width        : 30px;
  height       : 30px;
  border-radius: 0;
}