.swiper {
    width: 85.5vw !important;

    & .swiper-wrapper {
        & .swiper-slide {

            background-color: var(--color-block_back);
            z-index         : -2;
            border-radius   : var(--border-radius);
            overflow        : hidden;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    place-content   : center center;
    display         : flex;
    width           : 3rem;
    height          : 4rem;
    overflow        : hidden;
    background-color: var(--color-border);
    z-index         : 3;

    &::after {
        font-size  : 1.5rem;
        font-weight: bold;
        color      : var(--color-white);
    }
}

.swiper-pagination-horizontal {
    display         : flex;
    place-self      : center center;
    width           : auto !important;
    right           : 0 !important;
    background-color: var(--color-block_back);
    padding         : var(--element-gap);
    z-index         : 3;

    & span {
        background-color: var(--color-white);
        cursor          : pointer;
    }
}