.togglers {
  display       : flex;
  flex-direction: row;
  place-content : center center;
  place-self    : center center;
  place-items   : center center;
  width         : 100%;
  font-size     : 2rem;
  height        : auto;
  gap           : var(--element-gap);
}

.flipped {
  transform: scaleX(-1);
}