.togglers {
  display       : flex;
  flex-direction: row;
  place-content : center center;
  place-self    : center center;
  place-items   : center center;
  width         : max-content;
  height        : auto;
  gap           :0.2rem;
}

.flipped {
  transform: scaleX(-1);
}