.body {
  display      : flex;
  flex-flow    : column nowrap;
  position     : relative;
  width        : 100%;
  place-content: center center;
  overflow     : hidden;
  gap          : 1rem;
}

.block {
  display         : flex;
  flex-direction  : column;
  width           : 100%;
  max-width       : 398px;
  height          : 100%;
  place-self      : center center;
  padding         : 1rem;
  background-color: var(--color-block_back);
}

.block h3 {
  width      : max-content;
  text-align : left;
  font-weight: bold;
  font-size  : 1.5rem;
  padding    : 0 1rem 1rem 1rem;
}

.add {
  display      : flex;
  flex-flow    : row wrap;
  position     : relative;
  place-content: start center;
  width        : 100%;
}

.actors,
.trailers,
.chapters,
.watchability,
.similar {
  display         : flex;
  width           : auto !important;
  max-width       : 100%;
  height          : auto !important;
  max-height      : 100%;
  background-color: transparent;
}

.watchability,
.actors {
  height       : auto !important;
  max-height   : 1105px;
  place-content: center center;
  place-items  : center center;
  place-self   : start center;
}

.trailers {
  display      : flex;
  width        : auto;
  max-width    : 812px;
  padding      : 0;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
}

.trailers h2 {
  width        : 400px;
  padding      : 0 1rem 1rem 1rem;
  font-size    : 1rem;
  text-wrap    : nowrap;
  text-overflow: ellipsis;
  overflow     : hidden;
}

.trailers button {
  backdrop-filter: none;
  border-radius  : 0;
}

.details {
  display      : flex;
  flex-flow    : row wrap;
  position     : relative;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  width        : 100%;
  gap          : 1rem;
}

.details_block {
  display      : flex;
  flex-flow    : row wrap;
  flex         : auto auto 33%;
  place-content: center center;
  place-items  : center center;
  place-self   : start center;
  width        : max-content;
  gap          : 1rem;
}

.details_block span {
  display  : flex;
  flex-flow: row wrap;
  gap      : 1rem;
}

.details .d {
  display         : flex;
  flex-flow       : row nowrap;
  padding         : 1rem;
  background-color: var(--color-block_back);
}

.details .e {
  display  : flex;
  flex-flow: column nowrap;
}

.person {
  display   : flex;
  flex-flow : column wrap;
  place-self: start start;
}

.detailsList {
  display  : flex;
  flex-flow: column wrap;
  width    : 366px;

}

.description {
  display  : flex;
  flex-flow: column wrap;
}

.description p {
  font-size      : medium;
  text-indent    : 1rem;
  text-overflow  : ellipsis;
  text-align     : auto;
  text-wrap      : pretty;
  color          : white;
  -webkit-hyphens: auto;
  -ms-hyphens    : auto;
  hyphens        : auto;
}


.player {
  width: min-content;
}

@media (max-width: 1200px) {
  .trailers {
    max-width: 400px;
  }

  .actors {
    max-height: 422px;
  }

  .watchability {
    max-height: 270px;
  }

  .details .d {
    flex-flow: row wrap;
  }

  .details span {
    flex-flow    : column nowrap;
    place-content: center center;
    place-items  : center center;
    place-self   : center center;
  }

  .details span span {
    flex-flow: column nowrap;
  }

  .details span span span {
    place-content: center center;
    place-items  : center center;
    place-self   : center center;
  }

  .player {
    width: 100%;
  }
}