.search {
    display       : flex;
    flex-direction: row;
    min-width     : 2.5rem;
    width         : 100%;
    max-width     : 30rem;
    height        : 3rem;

    & button {
        width        : 3rem;
        min-height   : 3rem;
        border-radius: 0px 2.5rem 2.5rem 0px;
    }

    &:is(:hover, :focus, :active) {
        scale: 110%;
        color: var(--color-white);

        & input {
            color: var(--color-white);

            &::placeholder {
                opacity: 0;
            }
        }

        & button {
            scale           : none;
            color           : var(--color-white);
            background-color: var(--color-purple);
            border-color    : var(--color-purple);
        }
    }
}

.search input {
    width         : 100%;
    height        : auto;
    margin-right  : 0.2rem;
    text-align    : center;
    vertical-align: middle;
    color         : var(--color-text);
    border        : var(--border) var(--color-border);
    border-radius : 2.5rem 0px 0px 2.5rem;
    background    : rgba(0, 0, 0, 0.3) !important;
    box-shadow    : var(--shadow);

    &:is(:hover, :focus, :active) {
        background-color: var(--color-gray_dark);
        border-color    : var(--color-purple);
        color           : var(--color-white);

        &::placeholder {
            opacity: 0;
        }
    }
}