.search {
    display       : flex;
    flex-direction: row;
    min-width     : 2.5rem;
    width         : 25rem;
    min-height    : 3rem;

    &:hover {
        scale: var(--hover-scale);

        & .search_button {
            scale           : none;
            background-color: var(--color-purple);
            border-color    : var(--color-purple);

            & span {
                color: var(--color-white);
            }
        }
    }

    & input {
        width         : 100%;
        height        : auto;
        margin-right  : 0.2rem;
        text-align    : center;
        vertical-align: middle;
        color         : var(--color-text);
        border        : var(--border) var(--color-border);
        border-radius : 2.5rem 0px 0px 2.5rem;
        background    : rgba(0, 0, 0, 0.3) !important;
        box-shadow    : var(--shadow);



        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }

        &:hover {
            background-color: var(--color-gray_dark);
            border-color    : var(--color-purple);
            color           : var(--color-white);

            &::placeholder {
                opacity: 0;
            }
        }
    }
}

.search_button {
    width        : 3rem;
    min-height   : 3rem;
    border       : var(--border) var(--color-border);
    border-radius: 0px 2.5rem 2.5rem 0px;

    & svg {
        padding: 0.4rem !important;
    }

}