.block {
  display      : flex;
  flex-flow    : column nowrap;
  place-content: center center;
  gap          : 1rem;
  max-width    : 50dvw;

  & h2 {
    text-align: center;
    font-size : 1.5rem;
  }

  & P {
    place-content  : center center;
    text-indent    : 1rem;
    text-overflow  : ellipsis;
    text-align     : justify;
    text-wrap      : pretty;
    color          : white;
    -webkit-hyphens: auto;
    -ms-hyphens    : auto;
    hyphens        : auto;
  }

  & section {
    display         : flex;
    flex-flow       : column nowrap;
    gap             : 1rem;
    padding         : 1rem;
    background-color: var(--color-block_back);
  }
}