.userBlock {
  display        : flex;
  flex-flow      : row nowrap;
  width          : 100%;
  height         : max-content;
  min-height     : 3rem;
  margin-top     : auto;
  padding        : 0.5rem;
  gap            : 0.5rem;
  place-content  : center space-between;
  border-radius  : var(--border-radius);
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
}

.unSign {
  place-content: center center;
}

.userButtons {
  display      : flex;
  flex-flow    : column nowrap;
  width        : max-content;
  gap          : 0.5rem;
  place-content: end end;
  place-items  : end end;
  place-self   : end end;
}

.userButtons h6 {
  display: none;
}