button,
.button,
.swiper-button-prev,
.swiper-button-next {
    display            : flex;
    place-content      : center center;
    place-items        : center center;
    place-self         : center center;
    border             : var(--border)var(--color-border);
    box-shadow         : var(--shadow);
    color              : var(--color-text);
    background         : var(--color-button-inactive);
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    backdrop-filter    : var(--blur);

    & a {
        color : var(--color-text) !important;
        height: 24px;
    }

    & svg {
        width  : 3dvh;
        height : 3dvh;
        color  : var(--color-white);
        padding: 0.2rem;
    }

    &:is(:hover) {
        scale           : var(--hover-scale);
        border          : var(--border) var(--color-purple);
        color           : var(--color-white);
        background-color: var(--color-button-hover);

        & svg,
        p {
            color: var(--color-white);
        }
    }

    &:is(:active) {
        scale     : var(--active-scale) !important;
        border    : var(--border)var(--color-white) !important;
        color     : var(--color-white) !important;
        background: var(--color-button-active);

        & svg,
        p {
            color: var(--color-purple) !important;
        }
    }
}