nav {
  padding      : 0;
  border-radius: 0;
  overflow-y   : auto;
  overflow-x   : hidden;
}

nav ul {
  display       : flex;
  flex-direction: column;
  border-radius : 0;
}

nav ul li {
  border-radius: 0;
}

nav ul li button {
  display        : flex;
  flex-direction : row;
  width          : 100%;
  height         : max-content;
  place-content  : center start;
  box-shadow     : none;
  backdrop-filter: none;
  background     : transparent;
  border-radius  : 0;
}

nav ul li button:hover {
  background: transparent;
}

nav ul li button:hover svg {
  background: var(--color-purple);
}

nav ul li button:hover h6 {
  color: var(--color-white);
}

nav ul li button svg {
  width  : 2.5rem;
  height : 2.2rem;
  padding: 0.2rem;
}

nav ul li button h6 {
  font-size: 1.1rem !important;
}

nav ul li button.active svg {
  color     : var(--color-white);
  background: var(--color-purple);
  width     : 2.6rem;
  height    : 2.4rem;
  padding   : 0.2rem;
}

nav ul li button.active h6 {
  color    : var(--color-white);
  font-size: 1.3rem !important;
}