nav {
  overflow-y      : auto;
  overflow-x      : auto;
  width           : max-content;
  height          : max-content;
  place-content   : center center;
  place-self      : center center;
  place-items     : center center;
  gap             : 0.2rem;
  border          : none;
  padding         : 1rem;
  z-index         : 1;
  background-color: var(--color-block_back);
  scrollbar-color : var(--color-purple) transparent;
  scrollbar-width : thin;
}

nav ul {
  display       : flex;
  flex-direction: column;
  width         : max-content;
  height        : max-content;
  gap           : 0.2rem;
}

nav button {
  display        : flex;
  flex-direction : row;
  width          : max-content;
  height         : max-content;
  place-content  : center center;
  place-self     : center start;
  place-items    : center center;
  backdrop-filter: none;
  background     : transparent;
  border-radius  : 0;
  padding        : 0;
}

nav button h6 {
  font-size  : 1rem !important;
  font-weight: 550;
  width      : max-content;
}

nav button:hover {
  background: transparent;
}

nav button:hover svg {
  background: var(--color-purple);
}

nav button:hover h6 {
  color: var(--color-white);
}

nav button.active svg {
  color     : var(--color-white);
  background: var(--color-purple);

}

nav button.active h6 {
  color: var(--color-white);
}