header {
  position       : sticky;
  top            : 0;
  display        : flex;
  flex           : 1 1 100%;
  width          : 100%;
  height         : var(--header-height);
  border-radius  : 0 0 var(--border-radius) 0;
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
  z-index        : var(--header_z-index);
}

.headBar {
  display       : flex;
  flex-direction: row;
  place-content : center space-between;
  place-items   : center center;
  place-self    : center center;
  gap           : var(--block-gap);
  width         : 100%;
  padding       : var(--block-gap);
  border-radius : 0;
}

.user {
  display            : flex;
  flex-direction     : column;
  place-items        : center center;
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  font-size          : 0.9rem;
  padding            : 1rem;
}