header {
  position     : sticky;
  z-index      : var(--header_z-index);
  border-radius: 0;
}

.headBar {
  display        : flex;
  flex-direction : row;
  place-content  : center space-between;
  place-items    : center center;
  place-self     : center center;
  width          : 100%;
  height         : var(--header-height);
  background     : var(--color-block_back);
  padding        : var(--block-gap);
  border-radius  : 0;
  backdrop-filter: var(--blur);
}

.user {
  display            : flex;
  flex-direction     : column;
  place-items        : center center;
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  padding            : var(--element-gap);
}