header {
  position       : sticky;
  top            : 0;
  display        : flexbox;
  flex           : 1 2 auto;
  width          : 100%;
  height         : var(--header-height);
  border-radius  : 0 0 var(--border-radius) 0;
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
  z-index        : var(--header_z-index);
  overflow       : hidden;

  & .headBar {
    display       : flex;
    flex-direction: row;
    place-content : center center;
    place-items   : center center;
    place-self    : center center;
    gap           : var(--block-gap);
    height        : 100%;
    padding       : 1rem;
    border-radius : 0;
  }
}