.card_big {
  position      : relative;
  display       : flex;
  flex-flow     : column nowrap;
  width         : 100%;
  height        : calc(100dvh - 4rem);
  gap           : 1rem;
  border-radius : var(--border-radius);
  place-content : center center;
  place-items   : center center;
  place-self    : center center;
  cursor        : pointer;
  pointer-events: auto;
  z-index       : 1;
  overflow      : hidden;
}

.card_big a {
  width  : 100% !important;
  height : 100% !important;
  z-index: 1;
}

.card_big::after {
  content       : "";
  position      : absolute;
  top           : 0;
  left          : 0;
  right         : 0;
  bottom        : 0;
  width         : 100%;
  height        : 100%;
  pointer-events: none;
  background    : radial-gradient(circle farthest-side at 90% 0%,
      transparent 45%,
      rgba(0, 0, 0, 0.65) 65%,
      rgba(0, 0, 0, 0.70) 70%,
      rgba(0, 0, 0, 0.75) 75%,
      rgba(0, 0, 0, 0.80) 80%,
      rgba(0, 0, 0, 0.85) 85%,
      rgba(0, 0, 0, 0.90) 90%,
      rgba(0, 0, 0, 0.95) 95%,
      rgba(0, 0, 0, 1) 109%);
  z-index: 1;
}

.card_big_back {
  width         : 100% !important;
  height        : 100% !important;
  object-fit    : cover;
  z-index       : -1;
  pointer-events: none;
}

.card_big_logo {
  display      : block;
  padding      : 1rem;
  width        : 100%;
  height       : auto;
  object-fit   : cover;
  border-radius: 0;
}

.card_big_poster {
  width        : auto;
  height       : 25rem;
  object-fit   : cover;
  border       : none;
  border-radius: 0 !important;
}

.card_big_info {
  position       : absolute;
  bottom         : 0;
  left           : 0;
  top            : 0;
  right          : 0;
  display        : flex;
  flex-flow      : column nowrap;
  width          : 40%;
  height         : 100%;
  place-content  : center center;
  place-items    : start start;
  place-self     : start start;
  padding        : 1rem;
  text-align     : center;
  pointer-events : auto !important;
  backdrop-filter: blur(6px);
  z-index        : 3;
}

.card_big_info span:first-child {
  width        : 100%;
  display      : flex;
  flex-flow    : row nowrap;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
}

.card_big_info h5 {
  display        : flex;
  flex-flow      : row nowrap;
  place-content  : center center;
  place-items    : center center;
  place-self     : center center;
  padding-top    : 1rem;
  font-style     : normal;
  font-weight    : 900;
  line-height    : 28px;
  font-size      : 1.2rem;
  text-overflow  : ellipsis;
  color          : var(--color-white);
  padding-bottom : 0.5rem;
  width          : 100%;
  text-align     : left;
  -webkit-hyphens: auto;
  -ms-hyphens    : auto;
  hyphens        : auto;
}

.card_big_info h6 {
  font-weight   : bold;
  place-self    : center center;
  font-size     : 1rem;
  padding-bottom: 1rem;
  color         : var(--color-text);
}

.card_big_info p {
  place-self    : center center;
  font-size     : 1rem;
  text-overflow : ellipsis;
  padding-bottom: 0.3rem;
  text-align    : center;
  word-spacing  : 0.2rem;
  color         : var(--color-text);
}

.card_big_info h4 {
  font-size      : 1rem;
  color          : var(--color-white);
  padding-top    : 1rem;
  padding-bottom : 1rem;
  text-indent    : 1rem;
  text-overflow  : ellipsis;
  text-wrap      : pretty;
  text-align     : center;
  -webkit-hyphens: auto;
  -ms-hyphens    : auto;
  hyphens        : auto;
}

.card_big_age {
  gap          : 0.3rem;
  font-size    : 1rem;
  padding      : 0.3rem;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
}

.card_big_age h6 {
  display      : flex;
  flex-flow    : row nowrap;
  min-width    : auto;
  gap          : 0.3rem;
  font-size    : 1rem;
  border-radius: 0;
}

.card_big_age h6 span {
  min-width       : auto;
  padding         : 0.3rem;
  font-size       : 1rem;
  text-align      : center;
  text-transform  : uppercase;
  color           : white;
  background-color: black;
  border-radius   : 0;
  border          : 0.12rem solid white;
}

.userWidgets {
  padding-top   : 1rem;
  padding-bottom: 1rem;
}

.watchability {
  display      : flex;
  flex-flow    : column nowrap;
  width        : 100%;
  height       : 15%;
  border-radius: 0;
  padding-top  : 1rem;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  overflow     : visible;
}

.watchability .swiper-slide {
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  width        : 3.5rem;
  height       : 3.5rem;
  border-radius: 50%;
}

.watchability h3 {
  text-align   : center;
  font-weight  : bold;
  font-size    : 1.2rem;
  border-radius: 0;
}

@media (max-width: 800px) {
  .title_card_big::after {
    background: gradient(top to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.5) 69%,
        rgba(0, 0, 0, 0.6) 79%,
        rgba(0, 0, 0, 0.8) 89%,
        rgba(0, 0, 0, 0.9) 99%,
        rgba(0, 0, 0, 1) 109%);
  }

  .title_back {
    object-position: 70%;
  }

  .card_big_info {
    overflow     : hidden;
    place-content: end end;
    width        : 100%;
  }
}

@media (max-width: 1200px) {

  .card_big_info {
    width         : 100%;
    place-content : center end;
    padding-bottom: 2rem;
  }

  .title_logo {
    display   : block;
    width     : auto !important;
    height    : auto !important;
    object-fit: cover;
    max-width : auto;
    max-height: 20%;
  }
}

@media (max-width: 1550px) {

  .card_big_info {
    width         : 100%;
    place-content : center end;
    padding-bottom: 2rem;
  }


  .title_logo {
    display   : block;
    width     : auto !important;
    height    : auto !important;
    object-fit: cover;
    max-width : auto;
    max-height: 20%;
  }
}