.swiper {
  overflow: hidden;
  width   : 100%;
  height  : 100%;

  & .swiper-wrapper {
    width : 100%;
    height: 100%;

    & .swiper-slide {
      background-color: var(--color-block_back);
      width           : 100%;
      height          : 60svh;
      z-index         : -2;
    }
  }
}

.swiper_home {
  position: relative;
  width   : 100%;
  height  : 100%;
  overflow: hidden;

  &::after {
    content : "";
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    background: radial-gradient(circle farthest-side at 85% 0%,
        transparent 60%,
        rgba(0, 0, 0, 0.5) 69%,
        rgba(0, 0, 0, 0.6) 79%,
        rgba(0, 0, 0, 0.8) 89%,
        rgba(0, 0, 0, 0.9) 99%,
        rgba(0, 0, 0, 1) 109%);
    z-index: -1;
  }

  & .title_back {
    z-index: -1;
  }

  & .swiper_home_Info {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    padding        : 1rem;
    width          : 35%;
    height         : 100%;
    gap            : var(--block-gap);
    z-index        : 2;

    & img {
      position  : relative !important;
      width     : auto !important;
      height    : auto !important;
      max-width : 80% !important;
      max-height: auto !important;
      filter    : drop-shadow(6px 6px 6px rgb(255, 255, 255));
    }

    & h1 {
      padding-top  : 1rem;
      font-size    : 150%;
      text-overflow: ellipsis;
      color        : var(--color-white);
    }

    & h2 {
      font-size     : 100%;
      padding-bottom: 1rem;
      color         : var(--color-text);
    }

    & p {
      font-size    : 90%;
      text-overflow: ellipsis;
      color        : var(--color-text);
    }

    & .title_rate {
      position   : relative;
      width      : 100%;
      padding-top: 1rem;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  width  : auto;
  height : auto;
}

.swiper-pagination-horizontal {
  display         : flex;
  place-self      : center center;
  width           : auto !important;
  right           : 0 !important;
  background-color: var(--color-block_back);
  padding         : var(--element-gap);

  & span {
    background-color: var(--color-white);
    cursor          : pointer;
  }

}