:root {
  --color-white    : #fff;
  --color-black    : black;
  --color-yellow   : yellow;
  --color-orange   : orange;
  --color-orangered: orangered;
  --color-purple   : rgba(85, 0, 255, 1);
  --color-gray     : rgba(153, 153, 153);
  --color-gray_dark: rgba(71, 71, 71);

  --color-text           : rgb(186, 186, 186);
  --color-border         : rgba(255, 255, 255, 0.2);
  --color-block_back     : rgba(0, 0, 0, 0.2);
  --color-button-active  : rgba(77, 24, 199, 0.3);
  --color-button-inactive: rgba(0, 0, 0, 0.4);
  --color-button-hover   : rgba(0, 0, 0, 0.8);

  --blur  : blur(16px);
  --shadow: 0 0.04rem 6px 0 #171717;

  --border       : 0rem solid;
  --border-radius: 1rem;

  --block-gap  : 0.5rem;
  --element-gap: 0.3rem;
  --card-height: 26.7rem;

  --hover-scale : 1.1;
  --active-scale: 0.9;

  --main_z-index   : 1;
  --sidebar_z-index: 100;
  --modal_z-index  : 9999;

  --header-height: 80px;
  --sidebar-width: auto;

  --color-light         : white;
  --color-dark          : rgb(16, 18, 24);
  /* --color-dark       : rgb(255, 221, 221); */
  /* color-scheme       : light dark; */
  --theme-back          : linear-gradient(270deg, rgb(0, 0, 0) -7%, var(--color-purple) 15%, var(--color-orangered) 50%, var(--color-purple) 85%, rgb(0, 0, 0) 107%);
}

* {
  font-family             : 'Ubuntu', sans-serif;
  -webkit-box-sizing      : border-box;
  box-sizing              : border-box;
  -webkit-font-smoothing  : antialiased;
  -webkit-text-size-adjust: 100%;
  outline                 : none;
  text-decoration         : none;
  list-style              : none;
  margin                  : 0;
  margin-block            : 0;
  margin-block-start      : 0;
  margin-block-end        : 0;
  margin-inline           : 0;
  margin-inline-start     : 0;
  margin-inline-end       : 0;
  padding                 : 0;
  padding-block           : 0;
  padding-block-start     : 0;
  padding-block-end       : 0;
  padding-inline          : 0;
  padding-inline-start    : 0;
  padding-inline-end      : 0;
  transition              : all 0.2s ease-in-out;
  border-radius           : var(--border-radius);
  scroll-behavior         : smooth;
  transition-behavior     : allow-discrete;
  text-overflow           : ellipsis;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font          : inherit;
  font-size     : inherit;
  overflow-wrap : break-word;
  text-wrap     : pretty;
  text-overflow : ellipsis;
  pointer-events: all !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

::placeholder {
  color              : var(--color-text);
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

a:visited {
  color: rgb(186, 186, 186);
}

.not_initialized {
  visibility: hidden;
}

* ::-webkit-scrollbar {
  scrollbar-color : var(--color-purple) transparent;
  scrollbar-width : thin;
  scrollbar-gutter: stable;
}

html {
  font-size: 1dvw;
}

body {
  background: light-dark(var(--color-light),
      var(--color-dark));
  background-color: light-dark(var(--color-light),
      var(--color-dark));
  background-image: light-dark(var(--color-light),
      var(--color-dark));
  background: rgb(16, 18, 24);
  background: linear-gradient(270deg, rgb(0, 0, 0) -7%, var(--color-purple) 15%, var(--color-orangered) 50%, var(--color-purple) 85%, rgb(0, 0, 0) 107%);

  display          : -webkit-flex;
  display          : flex;
  -webkit-flex-flow: row nowrap;
  flex-flow        : row nowrap;
  min-width        : 100dvw;
  min-height       : 100dvh;
  max-width        : 100dvw;
  max-height       : 100dvh;
  overflow         : hidden;
  backdrop-filter  : var(--blur);
}

main {
  display          : -webkit-flex;
  display          : flex;
  -webkit-flex-flow: column nowrap;
  flex-flow        : column nowrap;
  width            : 100dvw;
  height           : 100dvh;
  overflow         : hidden;
  padding          : 1rem 1rem 1rem 0;
  z-index          : 0;
}

.content {
  display          : -webkit-flex;
  display          : flex;
  -webkit-flex-flow: column nowrap;
  flex-flow        : column nowrap;
  padding          : 1rem;
  width            : 100%;
  height           : 100%;
  min-width        : 100%;
  place-content    : center start;
  overflow         : auto;
  overflow-x       : hidden;
  overflow-y       : auto;
  background-color : var(--color-block_back);
  background-image : var(--color-block_back);
  backdrop-filter  : var(--blur);
  scrollbar-color  : var(--color-purple) transparent;
  scrollbar-width  : thin;
  scrollbar-gutter : stable;
  z-index          : 0;
}

hr {
  width           : 100%;
  height          : 0.1rem;
  border          : none;
  border-radius   : 0;
  background-image: linear-gradient(270deg, transparent .17%, var(--color-purple) 15%, var(--color-orangered) 50%, var(--color-purple) 85%, transparent);
}