.titlePage {
  display       : flex;
  flex-direction: column;
  overflow      : hidden;
  gap           : var(--block-gap);
  min-height    : 100svh;
}

.titlePage_head {
  position  : relative;
  width     : 100%;
  min-height: 80svh;
  max-height: 40svw;
  overflow  : hidden;

  & .title_back {

    z-index: -1;
  }

  & .titlePage_shortInfo {
    position       : absolute;
    display        : flex;
    flex-direction : column;
    justify-content: start;
    width          : 40%;
    height         : 100%;
    top            : 0;
    left           : var(--block-gap);
    gap            : var(--block-gap);

    & img {
      position  : relative !important;
      width     : auto !important;
      height    : auto !important;
      max-width : 100% !important;
      max-height: 50% !important;
    }

    & h1 {
      padding-top  : 5%;
      font-size    : 100%;
      text-overflow: ellipsis;
      color        : var(--color-white);
    }

    & h2 {
      font-size     : 90%;
      padding-bottom: 1rem;
    }

    & h2,
    p {
      text-overflow: ellipsis;
      color        : var(--color-text);
    }

    & .title_rate {
      position   : relative;
      width      : 5%;
      padding-top: 5%;
    }
  }

  &::before {
    content : "";
    display : block;
    position: absolute;
    top     : 0;
    left    : -1px;
    width   : 100%;
    height  : 100%;
    background:
      linear-gradient(90deg,
        #000 3.31%,
        rgba(0, 0, 0, .99) 7.71%,
        rgba(0, 0, 0, .96) 12.11%,
        rgba(0, 0, 0, .91) 16.51%,
        rgba(0, 0, 0, .85) 20.91%,
        rgba(0, 0, 0, .76) 25.31%,
        rgba(0, 0, 0, .67) 29.71%,
        rgba(0, 0, 0, .55) 34.11%,
        rgba(0, 0, 0, .44) 38.52%,
        rgba(0, 0, 0, .33) 42.92%,
        rgba(0, 0, 0, .23) 47.32%,
        rgba(0, 0, 0, .15) 51.72%,
        rgba(0, 0, 0, .08) 56.12%,
        rgba(0, 0, 0, .03) 60.52%,
        rgba(0, 0, 0, .01) 64.92%,
        transparent 69.32%);
  }

  &::after {
    content : "";
    display : block;
    position: absolute;
    z-index : -1;
    left    : 0;
    top     : 100px;
    height  : 100%;
    bottom  : -1px;
    right   : 0;
    background:
      linear-gradient(180deg,
        transparent 50%,
        transparent 52.63%,
        rgba(0, 0, 0, .03) 55.25%,
        rgba(0, 0, 0, .08) 57.88%,
        rgba(0, 0, 0, .14) 60.51%,
        rgba(0, 0, 0, .23) 63.13%,
        rgba(0, 0, 0, .33) 65.76%,
        rgba(0, 0, 0, .44) 68.39%,
        rgba(0, 0, 0, .55) 71.01%,
        rgba(0, 0, 0, .66) 73.64%,
        rgba(0, 0, 0, .77) 76.27%,
        rgba(0, 0, 0, .85) 78.89%,
        rgba(0, 0, 0, .92) 81.52%,
        rgba(0, 0, 0, .96) 84.15%,
        rgba(0, 0, 0, .99) 86.77%,
        #000 89.4%);
  }
}

.titlePage_mainInfo {
  display       : flex;
  flex-direction: column;
  place-content : center center;
  position      : relative;
  width         : 100%;
  height        : auto;
  padding       : var(--block-gap);

  & .titlePage_description {
    text-overflow : ellipsis;
    text-wrap     : pretty;
    margin-top    : auto;
    padding-bottom: 2rem;
    width         : 100%;
    color         : white;
  }
}

.kinobox_nav_ul li {
  color           : white !important;
  background-color: black !important;
  border-bottom   : 1px solid #212121 !important;
}

.kinobox_nav_ul li:hover,
.menu_button li:hover {
  background: rgb(26, 26, 26) !important;
}

.kinobox_nav_ul ul {
  outline: none !important;
  border : 1px solid #212121 !important;
}

.kinobox_nav_button {
  outline         : solid 4px rgba(0, 0, 0, 0.2);
  border          : 1px solid #212121 !important;
  background-color: black !important;
}

.menu_button ul {
  background: rgba(0, 0, 0, 0.8) !important;
}

.menu_button li {
  border    : 1px solid #212121 !important;
  background: black !important;
}

.kinobox__message,
.kinobox__loader,
.kinobox__wrapper {
  background-color: black !important;
}