aside {
    display        : flex;
    flex           : 0 0 auto;
    justify-self   : center;
    justify-items  : start;
    width          : auto;
    z-index        : var(--sidebar_z-index);
    backdrop-filter: var(--blur);
    background     : var(--color-block_back);
    border-radius  : 0;
}

.Sidebar {
    display       : flex;
    flex-direction: column;
    position      : sticky;
    top           : var(--header-height);
    place-content : end end;
    place-self    : start end;
    place-items   : end end;
    overflow      : hidden;
    border-radius : 0 0 var(--border-radius) 0;
    padding       : 0rem 0 0.8rem 0.8rem;

    & nav {
        & ul {
            display       : flex;
            flex-direction: column;
            gap           : 0.4rem;

            & li {
                & a {
                    & button {
                        place-content  : center start;
                        width          : 100%;
                        gap            : var(--block-gap);
                        background     : transparent !important;
                        box-shadow     : none;
                        padding        : 0.3rem 1rem 0.3rem 0.3rem;
                        border-radius  : var(--border-radius) 0 0 var(--border-radius);
                        backdrop-filter: none;

                        & p {
                            font-size: 2vh;
                            color    : var(--color-white);
                        }
                    }
                }
            }
        }
    }
}

.Sidebar a.active {
    & button {
        scale     : var(--hover-scale);
        border    : var(--border)var(--color-white) !important;
        color     : var(--color-white) !important;
        background: var(--color-purple) !important;
    }
}

.sidebar_hide {
    & .Sidebar {
        & .togglers {
            flex-direction: column;
        }

        & nav {
            & ul {
                & li {
                    & button {
                        place-content: center center !important;
                        gap          : 0 !important;
                        padding      : 0.3rem;

                        & p {
                            display  : none !important;
                            font-size: 0 !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .pagination {
        bottom    : 5rem !important;
        flex-flow : column nowrap !important;
        place-self: end end !important;
    }

    header .logo {
        display: none;
    }

    .search {
        &:hover {
            scale: none;
        }
    }

    aside {
        position     : fixed;
        bottom       : 0 !important;
        right        : 0 !important;
        left         : 0 !important;
        padding      : var(--block-gap) 0 0 0 !important;
        width        : 100%;
        border-radius: 0 !important;

        & hr {
            display: none;
        }

        & .Sidebar {
            display       : flex;
            flex-wrap     : wrap;
            flex-direction: row;
            width         : 100%;
            padding       : 0.2rem 0 0rem 0rem !important;
            place-content : center center !important;
            place-items   : center center !important;
            place-self    : center center !important;

            & .togglers {
                display: none;
            }

            & nav {
                & ul {
                    display       : flex;
                    flex-direction: row;


                    & li {
                        & button {
                            place-content: center center;
                            place-items  : center center;
                            place-self   : center center;
                            width        : auto;

                            border-radius: var(--border-radius) var(--border-radius) 0 0;
                            padding      : 0.4rem;

                            & p {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}