aside {
    display        : flex;
    flex           : 0 0 auto;
    width          : 15rem;
    height         : auto;
    border-radius  : 0;
    backdrop-filter: var(--blur);
    background     : var(--color-block_back);
    z-index        : var(--sidebar_z-index);

    & .Sidebar {
        position      : sticky;
        top           : 0;
        display       : flex;
        flex-direction: column;
        place-content : center start;
        place-self    : start center;
        width         : 100%;
        height        : 100vh;
        border-radius : 0;
        overflow      : hidden;

        & .logo1 {
            padding: 0.3rem;
        }

        & nav {
            display       : flex;
            flex-direction: column;
            border-radius : 0;
            width         : 100%;

            & .user {
                display       : flex;
                flex-direction: column;
                place-content : center center;
                place-self    : center center;
                cursor        : pointer;
                height        : var(--header-height);

                & a {
                    gap           : 0.2rem;
                    display       : flex;
                    flex-direction: column;
                    padding       : 0.6rem;

                    & svg {
                        width : 2rem;
                        height: 2rem;
                    }

                    & h6 {
                        font-size: 1rem;
                    }
                }
            }

            & ul {
                gap          : 0.1rem;
                padding-left : 1.5rem;
                border-radius: 0;
                overflow     : hidden;

                & li {
                    width        : 100%;
                    border-radius: 0;

                    & a {
                        width          : 100%;
                        place-content  : center start;
                        padding        : 0.5rem !important;
                        border-radius  : 22px 0 0 22px;
                        box-shadow     : none;
                        backdrop-filter: none;
                        background     : transparent;
                        overflow       : hidden;

                        & svg {
                            color: var(--color-white);
                        }

                        & h6 {
                            font-size   : 1;
                            padding-left: var(--block-gap);
                            overflow    : hidden;
                            color       : var(--color-white);
                        }
                    }
                }
            }
        }

        & a.active {
            scale     : 110%;
            padding   : 0.7rem 1rem 0.7rem 1rem;
            color     : var(--color-white);
            background: var(--color-purple);
        }
    }
}

.sidebar_hide {
    width: 5.5rem;

    & .Sidebar {
        & .logo {
            & .logo1 {
                display: none;
            }

            & .logo2 {
                display: block;
                padding: 0.8rem;
            }
        }

        & nav {
            & ul {
                & li {
                    & a {
                        & h6 {
                            font-size: 0;
                        }
                    }
                }
            }
        }

        & .togglers {
            flex-direction: column;
        }
    }
}

@media (max-width: 600px) {
    .pagination {
        bottom    : 5rem !important;
        flex-flow : column nowrap !important;
        place-self: end end !important;
    }

    aside,
    .sidebar_hide {
        position: sticky;
        bottom  : 0 !important;
        right   : 0 !important;
        left    : 0 !important;
        order   : 5;
        width   : 100%;
        height  : auto !important;



        & .Sidebar {
            display       : flex;
            flex-direction: row;
            width         : 100%;
            height        : auto;

            & hr {
                display: none;
            }

            & .logo {
                display: none;
            }

            & .togglers {
                display       : flex;
                width         : auto;
                flex-direction: row;
                padding       : 0.2rem;

                & button {
                    display: none;
                }
            }

            & nav {
                flex-direction: row;
                width         : auto;

                & .user {
                    padding: 0.2rem;

                    & h6 {
                        font-size: 0;
                    }
                }

                & ul {
                    display       : flex;
                    flex-direction: row;
                    padding-left  : 0;
                    padding-top   : 1.5rem;

                    & li {
                        & a {
                            place-items  : start center !important;
                            height       : 100% !important;
                            border-radius: var(--border-radius) var(--border-radius) 0 0;

                            & h6 {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}