footer {
  display        : flex;
  flex           : 1 2 100%;
  width          : 100%;
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
  border-radius  : 0 var(--border-radius) 0 0;
  z-index        : var(--footer_z-index);

  & .footer {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    height        : auto;
    place-content : center center;
    place-self    : center center;
    place-items   : center center;
    padding       : 1rem;

    & ul {
      display       : flex;
      flex-direction: row;
      gap           : 0.3rem;

      & .button {
        width : 9rem;
        height: 3rem;
      }
    }
  }
}