footer {
  display        : flex;
  flex           : 1 2 100%;
  width          : 100%;
  height         : min-content;
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
  border-radius  : 0;
  z-index        : var(--footer_z-index);
}

footer .footer {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  height        : min-content;
  place-content : center center;
  place-self    : center center;
  place-items   : center center;
  padding       : 1rem;
}

footer .footer ul {
  display       : flex;
  flex-direction: row;
  gap           : 0.3rem;
}

footer .footer button {
  width: 7rem;
}