.swiperContainer {
  display      : flex;
  position     : relative;
  flex-flow    : column nowrap;
  width        : 100%;
  height       : calc(100dvh - 4rem);
  gap          : 0.5rem;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
}
