.titles {
  place-content        : center center;
  place-items          : center center;
  place-self           : center center;
  display              : grid;
  grid-gap             : var(--block-gap);
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-auto-rows       : 25rem;
  width                : 100%;
  min-height           : 100vh;
}