.searchContainer {
  width  : 100%;
  height : auto;
  padding: 0.5rem;

  &:is(:hover, :focus, :active) {
    & input {
      color       : var(--color-white);
      border-color: var(--color-purple);
      border-left : none;
      border-right: none;

      &::placeholder {
        opacity: 0;
      }
    }

    & button {
      scale       : none;
      color       : var(--color-white);
      border-color: var(--color-purple);
      border-right: none;

    }

    & button:last-child {
      scale       : none;
      color       : var(--color-white);
      border-color: var(--color-purple);
      border-left : none;

      & svg {
        color: var(--color-white);
      }
    }
  }
}

.search {
  display       : flex;
  flex-direction: row;
  min-width     : 0.1rem;
  width         : 100%;
  max-width     : 30rem;
  height        : 3rem;
  box-shadow    : var(--shadow);
  border-radius : 2.5rem;
}

.search button {
  min-width       : 2.5rem;
  max-width       : 30rem;
  height          : 3rem;
  width           : 2.5rem;
  min-height      : 3rem;
  border          : 0.15rem solid rgba(0, 0, 0, 0.3);
  border-radius   : 2.5rem 0px 0px 2.5rem;
  border-right    : none;
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter : none;
}

.search button:last-child {
  min-width       : 2.5rem;
  max-width       : 30rem;
  height          : 3rem;
  width           : 2.5rem;
  min-height      : 3rem;
  border          : 0.15rem solid rgba(0, 0, 0, 0.3);
  border-radius   : 0 2.5rem 2.5rem 0;
  border-left     : none;
  background-color: rgba(0, 0, 0, 0.3) !important;
  backdrop-filter : none;

  & svg {
    color: transparent;
  }
}

.search input {
  width         : 100%;
  height        : auto;
  text-align    : start;
  vertical-align: middle;
  color         : var(--color-text);
  border        : 0.15rem solid rgba(0, 0, 0, 0.3);
  border-radius : 0;
  border-left   : none;
  border-right  : none;
  background    : rgba(0, 0, 0, 0.3) !important;

  &::placeholder {
    text-align   : center;
    place-content: center center;
    place-self   : center center;
    place-items  : center center;
  }
}