.body {
  display       : flex;
  flex-direction: column;
  position      : relative;
  width         : 100%;
  place-content : center center;
  gap           : 1rem;
}

.block {
  display         : flex;
  flex-direction  : column;
  width           : 100%;
  height          : 100%;
  place-self      : center center;
  padding         : 1rem;
  background-color: var(--color-block_back);
}

.block h3 {
  width        : max-content;
  text-align   : left;
  font-weight  : bold;
  font-size    : 1.5rem;
  padding      : 0.3rem;
  margin-bottom: 1rem;
}

.trailers,
.actors,
.similar {
  background-color: transparent;
}

.player {
  width: min-content;
}

.persons {
  width      : min-content;
  place-items: center center;
}

.description p {
  place-content  : center center;
  text-indent    : 1rem;
  text-overflow  : ellipsis;
  text-align     : justify;
  text-wrap      : pretty;
  color          : white;
  -webkit-hyphens: auto;
  -ms-hyphens    : auto;
  hyphens        : auto;
}