.signButton {
  display       : flex;
  flex-direction: row;
  place-content : center center;
  place-items   : center center;
  place-self    : center center;
}

.signButton svg {
  width  : 2rem;
  height : 2rem;
  padding: 0.1rem;
}