.swiper_slide {
  width : 220px !important;
  height: 330px !important;
}

.swiper_person_wrapper::after {
  content         : "";
  position        : absolute;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, transparent 40%);
}

.swiper_person_Info {
  position      : absolute !important;
  display       : flex;
  flex-direction: column;
  place-content : center end;
  place-items   : center center;
  width         : 220px;
  height        : 330px;
  bottom        : var(--block-gap);
  left          : 0;
  right         : 0;
  z-index       : 2;
}

.swiper_person_Info h4 {
  font-size    : 120%;
  text-overflow: ellipsis;
  text-align   : center;
  color        : var(--color-white);
}

.swiper_person_Info p {
  font-size    : 90%;
  text-overflow: ellipsis;
  text-align   : center;
  color        : var(--color-text);
}