.swiperContainer {
  display      : flex;
  position     : relative;
  flex-flow    : column nowrap;
  width        : 100%;
  height       : calc(100dvh - 4rem);
  gap          : 0.5rem;
  padding      : 0 12rem;
  /* отступы, чтобы боковые слайды были видны */
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  overflow     : visible;
  /* обязательно */
}

.swiperContainer .card_big .card_big_back {
  /* width: 100%; */
}

