button {
  display            : flex;
  flex-direction     : row;
  place-content      : center center;
  place-items        : center center;
  place-self         : center center;
  border             : none;
  border-radius      : 5rem;
  color              : var(--color-text);
  cursor             : pointer;
  width              : auto;
  height             : auto;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
  gap                : 0.2rem;
  padding            : 0.5rem;
  background-color   : var(--color-button-inactive);
  backdrop-filter    : var(--blur);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37) ;
}

button svg {
  width : 1.5rem;
  height: 1.5rem;
}

button h6 {
  font-size    : 0.8rem;
  color        : var(--color-text);
  text-overflow: ellipsis;
  text-align   : center;
  white-space  : nowrap;
  overflow     : hidden;
}

button:hover {
  color           : var(--color-white);
  background-color: var(--color-button-hover);
}

button:hover svg,
h6 {
  scale: 105%;
  color: var(--color-white);
}

button:active {
  color     : var(--color-orangered);
  background: var(--color-purple);
}

button:active svg,
h6 {
  scale: 96%;
  color: var(--color-orangered);
}

button:disabled {
  scale           : 1;
  color           : var(--color-text);
  background-color: rgba(255, 255, 255, 0.342);

  &:hover {
    scale           : 1;
    color           : var(--color-text);
    background-color: rgba(255, 255, 255, 0.342);

    & svg {
      color: var(--color-text);
    }

    & h6 {
      color: var(--color-text);
    }
  }

  &:active {
    scale           : 1;
    color           : var(--color-text);
    background-color: rgba(255, 255, 255, 0.342);

    & svg {
      color: var(--color-text);
    }

    & h6 {
      color: var(--color-text);
    }
  }
}