#fastNav {
    position           : relative;
    z-index            : 999;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}