#fastNav {
    position           : fixed;
    bottom             : var(--block-gap);
    right              : var(--block-gap);
    z-index            : 999;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}