.swiper_title {
  display   : inline-block;
  max-height: 410px;
  width     : 100%;
}

.swiper_title_wrapper {
  height  : 400px;
  width   : 256px;
  overflow: hidden;
}

.swiper_title_wrapper::after {
  content         : "";
  position        : absolute;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, transparent 40%);
}

.swiper_title_wrapper img {
  z-index: -1;
}

.swiper_slide {
  width : 260px !important;
  height: 400px !important;
  height: auto;
}

.swiper_title_img {
  width : 260px !important;
  height: 400px !important;
  height: auto;
}

.swiper_title_Info {
  position      : absolute;
  top           : 0;
  left          : 0;
  display       : flex;
  flex-direction: column;
  place-content : center space-between;
  place-items   : center center;
  place-self    : center center;
  min-width     : 100%;
  min-height    : 100%;
  padding       : var(--block-gap);
  z-index       : 2;
}

.swiper_title_wrapper img {
  z-index: -1;
}

.swiper_slide {
  width : 260px !important;
  height: 400px !important;
  height: auto;
}

.swiper_title_img {
  width : 260px !important;
  height: 400px !important;
  height: auto;
}

.swiper_title_Info {
  position      : absolute;
  top           : 0;
  left          : 0;
  display       : flex;
  flex-direction: column;
  place-content : center space-between;
  place-items   : center center;
  min-width     : 100%;
  min-height    : 100%;
  padding       : var(--block-gap);
  z-index       : 2;
}

.swiper_title_Info div h3 {
  text-align   : center;
  font-size    : 120%;
  text-overflow: ellipsis;
  color        : var(--color-white);
}

.swiper_title_Info div h4 {
  text-align    : center;
  font-size     : 90%;
  color         : var(--color-text);
  padding-bottom: var(--block-gap);
}

.swiper_title_Info div p {
  text-align   : center;
  font-size    : 90%;
  text-overflow: ellipsis;
  color        : var(--color-text);
}

.swiper_title_Info section {
  min-width    : 100%;
  min-height   : 100%;
  place-content: center space-between;
  padding      : 0;
  gap          : 0.3rem;
}