.userWidgets {
  display      : flex;
  position     : relative;
  width        : 100%;
  height       : max-content;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  flex-flow    : row nowrap;
  z-index      : 66;
  gap          : 0.3rem;
  padding      : 0.5rem;
  border-radius: 0 0 0 0;
  font-size    : 1.5rem;
}

.favourite,
.viewed,
.bookmark {
  cursor : pointer;
  padding: 0.2rem;
}

.favourite.active svg {
  color: var(--color-orangered);
}

.viewed.active svg {
  color: var(--color-purple);
}

.bookmark.active svg {
  color: orange;
}

.userWidgets .controls {
  display      : flex;
  flex-flow    : row nowrap;
  position     : relative;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  width        : min-content;
  height       : min-content;
}

.userWidgets .rate {
  display      : flex;
  flex-flow    : row nowrap;
  position     : relative;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  width        : min-content;
  height       : min-content;
}

.userWidgets .rate .title_rate {
  display      : flex;
  flex-flow    : row nowrap;
  position     : relative;
  place-content: center center;
  place-items  : center center;
  place-self   : center center;
  width        : min-content;
  height       : min-content;
}


.userWidgets .controls ul {
  width    : max-content;
  height   : max-content;
  display  : flex;
  flex-flow: row nowrap;
}