.signin {
  display         : flex;
  flex-direction  : column;
  place-content   : center center;
  place-self      : center center;
  place-items     : center center;
  width           : 400px;
  background-color: var(--color-block_back);
  padding         : 2rem;
  gap             : 1rem;
}

.signin h1 {
  text-align: center;
  color     : white;
  font-size : 1.5rem;
}

.signin .head {
  display       : flex;
  flex-direction: row;
}

.signin .head button {
  padding        : 0.5rem;
  text-align     : center;
  background     : none !important;
  font-size      : 1.5rem;
  box-shadow     : none;
  backdrop-filter: none;
}

.signin .head button h1 {
  color: gray;
}

.signin .head .active h1 {
  color          : white;
  text-decoration: underline;
}

.signin .head p {
  font-size     : 1.5rem;
  padding       : 1rem;
  color         : white;
  text-align    : center;
  vertical-align: middle;
}

.signin form {
  display         : flex;
  flex-direction  : column;
  width           : max-content;
  place-content   : center center;
  place-self      : center center;
  place-items     : center center;
  padding         : 1rem 2rem;
  gap             : 1rem;
  background-color: var(--color-block_back);
}

.signin label {
  display       : flex;
  flex-direction: row;
  width         : 100%;
  height        : max-content;
  font-size     : 1rem;
  text-align    : center;
  text-align    : left;
  vertical-align: middle;
  gap           : 1rem;
  color         : white;
}

.signin input {
  width         : 100%;
  height        : 2rem;
  font-size     : 1rem;
  text-align    : center;
  vertical-align: middle;
  color         : white;
  border        : var(--border) var(--color-border);
  border-radius : 5rem;
  background    : rgba(0, 0, 0, 0.3) !important;
  box-shadow    : var(--shadow);
}

.signin input:is(:hover, :focus, :active) {
  background-color: var(--color-gray_dark);
  border-color    : var(--color-purple);
  color           : var(--color-white);
}

.signin input:is(:hover, :focus, :active)::placeholder {
  opacity: 0;
}

.passwordMessage ul {
  font-size: 0.9rem;
}

.passwordMessage li {
  display       : flex;
  flex-direction: row;
  place-content : center start;
  place-items   : center center;
  font-size     : 0.8rem;
}

.passwordMessage svg {
  width : auto;
  height: 1.5rem;
}

.passwordMessage .valid {
  color: green;
}

.passwordMessage .invalid {
  color: red;
}

.signin .policy {
  text-align     : center;
  color          : var(--color-text);
  font-size      : 0.8rem;
  text-decoration: underline;
  padding-top    : 1rem;
}

.signin .policy:is(:hover, :focus, :active) {
  scale: 105%;
}