header {
  display: flex;
  flex   : 0 0 auto;
  width  : 17rem;
  height : auto;
  z-index: var(--sidebar_z-index);
}

.sidebar {
  position       : sticky;
  top            : 0;
  display        : flex;
  flex-direction : column;
  place-content  : center start;
  place-self     : start center;
  width          : 100%;
  height         : 100dvh;
  border-radius  : 0;
  backdrop-filter: var(--blur);
  background     : var(--color-block_back);
}

.sidebar nav {
  padding      : 0.5rem 0;
  border-radius: 0;
}

.sidebar nav ul {
  display       : flex;
  flex-direction: column;
  gap           : 0.5rem;
  padding       : 0.5rem 0 0 0;
  border-radius : 0;
}

.sidebar nav ul li {
  border-radius: 0;
}

.sidebar nav ul li button {
  display        : flex;
  flex-direction : row;
  width          : 100%;
  height         : max-content;
  place-content  : center start;
  box-shadow     : none;
  backdrop-filter: none;
  background     : transparent;
  border-radius  : 0;
}

.sidebar nav ul li button svg {
  color  : var(--color-white);
  width  : 2rem;
  height : 2rem;
  padding: 0.2rem;
}

.sidebar nav ul li button h6 {
  font-size   : 1;
  padding-left: var(--block-gap);
  color       : var(--color-white);
}

.sidebar nav ul li button.active {
  color          : var(--color-white);
  border-inline  : 0.3rem solid var(--color-purple);
  writing-mode   : horizontal-tb;
  direction      : ltr;
  backdrop-filter: var(--blur);

  & svg {
    color     : var(--color-orangered);
    background: var(--color-purple);
  }
}

.sidebar_hide {
  width: 7.5rem;
}

.sidebar_hide #logo1 {
  display: none;
}

.sidebar_hide #logo2 {
  display: block;
}

.sidebar_hide nav ul li button {
  place-content: center center;
  place-self   : center center;
  place-items  : center center;
}

.sidebar_hide nav button h6 {
  font-size: 0;
  display  : none;
}

.sidebar_hide .togglers {
  flex-direction: column;
}

.sidebar_hide .avatarContainer .avatarName {
  display: none;
}

@media (max-width: 1100px) {
  .pagination {
    bottom    : 5rem !important;
    flex-flow : column nowrap !important;
    place-self: end end !important;
  }


  header,
  .sidebar_hide {
    position  : sticky;
    bottom    : 0 !important;
    right     : 0 !important;
    left      : 0 !important;
    order     : 5;
    width     : 100%;
    height    : auto !important;
    overflow-y: scroll;
  }

  .sidebar {
    display      : flex;
    flex-flow    : row wrap;
    width        : 100%;
    height       : auto;
    place-content: center center;
    place-self   : center center;
    place-items  : center center;
    padding      : 0;
  }

  .sidebar hr {
    display: none;
  }

  .searchContainer {
    width  : 100%;
    padding: 0.5rem;
    height : auto;
  }

  .userCard {
    width : auto;
    order : -1;
    height: 100%;
  }

  .userCard h6 {
    display: none !important;
  }

  .sidebar .logo {
    display: none;
  }

  .sidebar .togglers {
    display       : flex;
    order         : 9;
    width         : auto;
    height        : 100%;
    flex-direction: column;
    padding       : 0.2rem;
  }

  .sidebar .togglers button:nth-child(2) {
    display: none;
  }

  .sidebar nav {
    flex-flow    : column wrap;
    width        : max-content;
    height       : auto;
    place-content: center center;
    place-self   : center center;
    place-items  : center center;
  }

  .sidebar nav ul {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    gap           : 0;
    place-content : center center;
    place-self    : center center;
    place-items   : center center;
  }

  .sidebar nav ul li button {
    padding: 0;
  }

  .sidebar nav ul li button h6 {
    display: none !important;
    width  : 100%;
    height : 100% !important;
  }
}