.avatarButton {
  display        : flex;
  flex-direction : row;
  place-content  : center center;
  place-items    : center center;
  place-self     : center center;
  padding        : 0;
  border-radius  : 0;
  white-space    : nowrap;
  width          : auto;
  height         : max-content;
  background     : none !important;
  backdrop-filter: none !important;
}

.avatarButton img{
  object-fit   : cover;
  border-radius: 5rem;
  z-index      : 9999;
  width        : 3.5rem;
  height       : 3.5rem;
  color        : var(--color-white);
}

.avatarButton svg {
  object-fit   : cover;
  border-radius: 5rem;
  z-index      : 9999;
  width        : 3.5rem;
  height       : 3.5rem;
  color        : var(--color-white);
}

.avatarButton h6 {
  text-align   : end;
  font-size    : 0.9rem;
  color        : var(--color-white);
  text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden;
}

.avatarMenu {
  display         : flex;
  flex-direction  : column;
  width           : max-content;
  height          : max-content;
  position        : absolute;
  background-color: var(--color-block_back);
  backdrop-filter : var(--blur);
  box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index         : 9999999999;
  bottom          : 4.5rem;
  left            : 1rem;
  overflow        : hidden;
}

.avatarMenu button {
  place-content : start start;
  place-self    : start start;
  border-radius : 0;
  flex-direction: row;
  width         : 100%;
  height        : 3rem;
  padding       : 0 2rem;
}

.avatarMenu ul li a button {
  place-content : start start;
  place-self    : start start;
  border-radius : 0;
  flex-direction: row;
  width         : 100%;
  height        : 3rem;
  padding       : 0 2rem;
}

.avatarMenu:first-child {
  border-radius : 5rem 0;
  flex-direction: row;
  width         : 100%;
  height        : auto;

}

@media (max-width: 1100px) {
  .avatarContainer {}

  .avatarContainer .avatarName {
    display: none;
  }

}