.title_rate {
  display       : flex;
  flex-direction: row;
  place-content : center space-between;
  place-items   : center space-between;
  place-self    : center space-between;
  width         : 97%;
  position      : absolute;
  top           : 0.2rem;
  gap           : 0.3rem;
  border-radius : var(--border-radius);
  z-index       : 3;

  & article {
    display         : flex;
    place-content   : center center;
    place-items     : center center;
    place-self      : center center;
    border-radius   : var(--border-radius);
    padding         : 0 0.4rem 0 0.4rem;
    gap             : 0.2rem;
    font-size       : 1.1rem;
    text-align      : center;
    font-weight     : height;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter : var(--blur);

    & h3 {
      place-content: center center;
      width        : 100%;
      height       : 100%; 
      border-radius: var(--border-radius);
    }

    &.kp h3 {
      color: var(--color-orangered);
    }

    &.imdb h3 {
      color: var(--color-yellow);
    }

    &.rt h3 {
      color: var(--color-pink);
    }

    &.personal h3 {
      color      : var(--color-text);
      font-weight: lighter;
    }

    &.all h3 {
      color                  : var(--color-text);
      background             : linear-gradient(to bottom, var(--color-purple), var(--color-orangered));
      -moz-background-clip   : text;
      -moz-text-fill-color   : transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip        : text;
    }
  }
}