.details_list {
  display       : flex;
  flex-direction: column;
  gap           : 1rem;
  width         : 100%;
  max-width     : 400px;
}

.details_list article {
  display       : flex;
  flex-direction: row;
  width         : 100%;
  gap           : 1rem;
  max-width     : 400px;
}

.details_list article h4 {
  font-size : 1rem;
  color     : white;
  text-align: left;
  width     : 11rem;
}

.details_list article .data {
  display       : flex;
  flex-direction: row;
  place-content : start start;
  width         : auto;
  gap           : 0.3rem;
}

.details_list h6 {
  font-size : 1rem;
  min-width : auto;
  max-width : 16rem;
  text-align: left;
  color     : var(--color-text);
}

.details_list article ul {
  display       : flex;
  flex-direction: column;
  gap           : 0.3rem;
}

.details_list article ul li {
  display       : flex;
  flex-direction: row;
  gap           : 0.5rem;
  place-content : start space-between;
}


.details_list article:hover h6 li:hover h6 {
  color: white;
  scale: 105%;
}

.details_list article:hover h6 {
  color: white;
  scale: 105%;
}

.details_list .age {
  display       : flex;
  flex-direction: row;
  min-width     : auto;
  gap           : 0.3rem;
  font-size     : 1rem;
  place-items   : center center;
}

.details_list .age h6 {
  display       : flex;
  flex-direction: row;
  min-width     : auto;
  gap           : 0.3rem;
  font-size     : 1rem;
}

.details_list .age h6 span {
  min-width       : auto;
  padding         : 0.3rem;
  font-size       : 1rem;
  text-align      : center;
  text-transform  : uppercase;
  color           : white;
  background-color: black;
  border-radius   : 0;
  border          : 0.12rem solid white;
}