.titlePage_head {
    width: 100%;
    min-height: 100%;
    height: 85svh;
    position:relative;
}
.titlePage_head::after {
      content : "";
      position: absolute;
      top     : 0;
      left    : 0;
      width   : 100%;
      height  : 100%;
      background: radial-gradient(circle farthest-side at 85% 0%,
          transparent 60%,
          rgba(0, 0, 0, 0.5) 69%,
          rgba(0, 0, 0, 0.6) 79%,
          rgba(0, 0, 0, 0.8) 89%,
          rgba(0, 0, 0, 0.9) 99%,
          rgba(0, 0, 0, 1) 109%);
      z-index: -1;
}
  
.title_back {
      height    : 100%;
      max-width : 100%;
      display   : block;
      object-fit: cover;
  z-index   : -1;
}
  
.titlePage_head_Info {
      display       : flex;
      flex-direction: column;
      place-content : center center;
      place-items   : center center;
      place-self    : center center;
      text-align    : center;
      padding       : 1rem;
      width         : 35%;
      height        : 100%;
      z-index       : 2;
}
.titlePage_head_Info img {
        position  : relative !important;
        width     : auto !important;
        height    : auto !important;
        max-width : 80% !important;
        max-height: auto !important;
      }
  
      .titlePage_head_Info  h1 {
        padding-top  : 1rem;
        font-size    : 150%;
        text-overflow: ellipsis;
        color        : var(--color-white);
      }
  
      .titlePage_head_Info  h2 {
        font-size     : 100%;
        padding-bottom: 1rem;
        color         : var(--color-text);
      }
  
      .titlePage_head_Info  p {
        place-self   : center center;
        font-size    : 90%;
        text-overflow: ellipsis;
        color        : var(--color-text);
      }
  
.title_rate {
        display       : flex;
        flex-direction: row;
        position   : relative;
        padding-top: 1rem;
        gap: 1rem;
        place-content : center center;
      }

      @media (max-width: 600px) {
        .titlePage_head_Info{
          overflow: hidden;
          place-content: end end;
          width         : 100%;
        }
        .titlePage_head::after{

          background: gradient(top to bottom,
          transparent 0%,
          rgba(0, 0, 0, 0.5) 69%,
          rgba(0, 0, 0, 0.6) 79%,
          rgba(0, 0, 0, 0.8) 89%,
          rgba(0, 0, 0, 0.9) 99%,
          rgba(0, 0, 0, 1) 109%);
        }
      }